@font-face {
	font-family: 'HBUSORA';
	src: url('HBUSORA.eot');
	src: url('HBUSORA.eot?#iefix') format('embedded-opentype'),
		url('HBUSORA.woff') format('woff'),
		url('HBUSORA.ttf') format('truetype'),
		url('HBUSORA.svg') format('svg');
}