@font-face {
	font-family: 'TCM';
	src: url('TCM.eot');
	src: url('TCM.eot?#iefix') format('embedded-opentype'),
		url('TCM.woff') format('woff'),
		url('TCM.ttf') format('truetype'),
		url('TCM.svg') format('svg');
}